body{
  margin:0;
  background:black;
  color:white;
  overflow:hidden;
  font-family:cursive;
}

#title{
  text-align:center;
  margin-top:30px;
  text-shadow:0 0 20px pink;
}

.flower{
  position:absolute;
  font-size:28px;
}
